*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap:20px;
    background-image: linear-gradient(rgb(72, 6, 92),rgb(80, 49, 80));
}
.box{
    border-radius: 15px;
    background-color: red;
    width:350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    
}
.output{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.display{
    text-decoration: none;
    border: 0;
    padding: 5px;
    margin: 0;
    background: transparent;
    font: 13px sans-serif;
    cursor:default;
    
}

.header{
    font-size: 23px;
    color: white;
    /* margin-bottom: 10px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.output{
    border-radius: 10px;
    width:350px;
    height:60px;
    background-color: orange;
}
.genButton{
    width: 150px;
    height: 30px;
    margin: auto;
}
/* .data-copy{
    background-color: rgba(255, 255, 255, 0);
} */
.data-copyMsg{
    background-color: rgba(255, 255, 255, 0);
}