*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    gap:20px;
    background-image: linear-gradient(rgb(72, 6, 92),rgb(80, 49, 80));
}
.box{
    border-radius: 15px;
    background-color: red;
    width:350px;
    height: 380px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 50px;
    
}
.output{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.display{
    text-decoration: none;
    border: 0;
    padding: 5px;
    margin: 0;
    background: transparent;
    font: 13px sans-serif;
    cursor:default;
    
}

.header{
    font-size: 23px;
    color: white;
    /* margin-bottom: 10px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.output{
    border-radius: 10px;
    width:350px;
    height:60px;
    background-color: orange;
}
.genButton{
    width: 150px;
    height: 30px;
    margin: auto;
}
/* .data-copy{
    background-color: rgba(255, 255, 255, 0);
} */
.datacopymsg{
    position: relative;
    height: fit-content;
    width: 40px;
    padding:5px;
    border: 0;
    left:30px;
    background-color: rgba(111, 104, 104, 0);
    color: rgb(111, 104, 104);
    font-size: 15px;
    visibility: hidden;
  
}

.passLen{
    display: flex;
    justify-content: space-between;

}
.passlentext{
    
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slider{
    -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  margin: auto;
  width: 80%; /* Full-width */
  height: 7px; /* Specified height */
  background: rgb(233, 223, 226); /* Grey background */
  outline: none;
  border-radius: 15px;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: .3s;
}

.slider:hover {
    
    opacity: 1; /* Fully shown on mouse-over */
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 18px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: orange; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
  }

  .genButton{
   
    padding:10px;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    border: 0px;
    background-image:linear-gradient(rgb(72, 6, 92),rgb(80, 49, 80));
    color: white;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    transition: .2s;
    z-index: 1;
  }
  .genButton:active{
    border-bottom: 0px solid black;
    border-right: 0px solid black;
    transform: translateY(3px) translateX(3px);
  }
  
  
  .data-copy{
    
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
  }

  
  .genButton:hover{
    background-image: linear-gradient(orange,orange);
    color: black;
  }